@font-face {
    font-family: latoBlack;
    src: url(../fonts/Lato/Lato-Black.ttf);
}
@font-face {
    font-family: latoBold;
    src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: latoRegular;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: latoLight;
    src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: latoItalic;
    src: url(../fonts/Lato/Lato-Italic.ttf);
}


$latoBlack: latoBlack;
$latoBold: latoBold;
$latoRegular: latoRegular;
$latoLight: latoLight;
$latoItalic: latoItalic;

$mainColor: #15625e;
$background: #ffffff;

*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: $latoRegular;
    background: $background;
    color: black;
}
.content{
    padding: 0 20px;
    max-width: 1024px;
    margin: 30px auto;
    .about{
        text-align: justify;
        line-height: 30px;
        margin-bottom: 50px;
        .spanned{
            font-family: $latoBold;
            color: $mainColor;
            a{
                text-decoration: none;
                color: $mainColor;
            }
        }
        .name{
            font-weight: 900;
            font-size: 2em;
            font-weight: $latoBlack;
        }
        .tech{
            font-size: 1.5em;
            font-weight: 600;
            margin-bottom: 10px;
        }
        .links{
            margin-bottom: 20px;
            font-size: 1.2em;
            i{
                color: $mainColor;
                margin-left:10px;
            }
            span{
                margin-right:10px;
            }
        }
        .summary{
            font-size: 1.3em;

        }
    }
    .skills{
        margin-bottom: 50px;
        .skills_header{
            font-weight: 900;
            font-size: 2em;
            color: $mainColor;
            font-weight: $latoBlack;
            margin-bottom: 20px;
        }
        .skills_container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 30px;

            .skill{
                min-width: 200px;
                max-width: 200px;
                height: 200px;
                box-shadow:0 0 10px 1px $mainColor;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .svg{
                    img{
                        width: 100px;
                    }
                }
                p{
                    color: $mainColor;
                    font-family: $latoBlack;
                    font-size: 1.3em;
                }
            }
        }
        
    }

    .projects{
        .projects_title{
            font-weight: 900;
            font-size: 2em;
            color: $mainColor;
            font-weight: $latoBlack;
            margin-bottom: 20px;
        }
    }
    
}