@font-face {
  font-family: latoBlack;
  src: url(../fonts/Lato/Lato-Black.ttf);
}
@font-face {
  font-family: latoBold;
  src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
  font-family: latoRegular;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: latoLight;
  src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
  font-family: latoItalic;
  src: url(../fonts/Lato/Lato-Italic.ttf);
}
*, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: latoRegular;
  background: #ffffff;
  color: black;
}

hr {
  background: #15625e;
  height: 10px;
  border: none;
  border-radius: 2px;
  margin: 10px 0;
}

.content {
  padding: 0 20px;
  max-width: 1024px;
  margin: 30px auto;
}
.content .logo {
  width: 200px;
  margin: auto;
  margin-bottom: 20px;
}
.content .logo img {
  width: 200px;
}
.content .about {
  text-align: justify;
  line-height: 30px;
  margin-bottom: 50px;
}
.content .about .spanned {
  font-family: latoBold;
  color: #15625e;
}
.content .about .spanned a {
  text-decoration: none;
  color: #15625e;
}
.content .about .name {
  font-weight: 900;
  font-size: 2.5em;
  font-weight: latoBlack;
  text-align: center;
  margin-bottom: 10px;
}
.content .about .tech {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.content .about .links {
  margin-bottom: 20px;
  font-size: 1.2em;
  text-align: center;
}
.content .about .links i {
  color: #15625e;
  margin-left: 10px;
}
.content .about .links i:nth-child(1) {
  margin-left: 0;
}
.content .about .links span {
  margin-right: 10px;
}
.content .about .summary {
  font-size: 1.3em;
}
.content .skills {
  margin-bottom: 50px;
}
.content .skills .skills_header {
  font-weight: 900;
  font-size: 2em;
  color: #15625e;
  font-weight: latoBlack;
  margin-bottom: 20px;
  text-align: center;
}
.content .skills .skills_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.content .skills .skills_container .skill {
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  box-shadow: 0 0 10px 1px #15625e;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content .skills .skills_container .skill .svg img {
  width: 100px;
}
.content .skills .skills_container .skill p {
  color: #15625e;
  font-family: latoBlack;
  font-size: 1.3em;
}
.content .projects .projects_title {
  font-weight: 900;
  font-size: 2em;
  color: #15625e;
  font-weight: latoBlack;
  margin-bottom: 20px;
  text-align: center;
}
.content .projects .project {
  background: #15625e;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.content .projects .project a {
  text-decoration: none;
  color: white;
}
.content .components {
  margin-top: 30px;
}
.content .components .component_title {
  font-weight: 900;
  font-size: 2em;
  color: #15625e;
  font-weight: latoBlack;
  margin-bottom: 20px;
  text-align: center;
}
.content .components span {
  background: white;
  box-shadow: 0 0 5px 2px #15625e;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  hr {
    margin: 5px 0;
  }
  .content {
    padding: 0 10px;
  }
  .content .about .name {
    font-size: 1.2em;
    font-weight: 900;
  }
  .content .about .tech {
    font-size: 1em;
    color: red;
  }
  .content .about .links {
    font-size: 0.7em;
  }
  .content .about .summary {
    font-size: 1em;
  }
  .content .skills .skills_header {
    font-size: 1.2em;
  }
  .content .skills .skills_container .skill {
    min-width: 150px;
    max-height: 150px;
  }
  .content .skills .skills_container .skill .svg img {
    width: 50px;
  }
  .content .projects .projects_title {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 350px) {
  .content .skills .skills_container .skill {
    min-width: 100%;
  }
  .content .skills .skills_container .skill .svg img {
    width: 100px;
  }
}/*# sourceMappingURL=new.css.map */