// @font-face {
//     font-family: latoBlack;
//     src: url(../fonts/Lato/Lato-Black.ttf);
// }
// @font-face {
//     font-family: latoBold;
//     src: url(../fonts/Lato/Lato-Bold.ttf);
// }
// @font-face {
//     font-family: latoRegular;
//     src: url(../fonts/Lato/Lato-Regular.ttf);
// }
// @font-face {
//     font-family: latoLight;
//     src: url(../fonts/Lato/Lato-Light.ttf);
// }
// @font-face {
//     font-family: latoItalic;
//     src: url(../fonts/Lato/Lato-Italic.ttf);
// }

@font-face {
    font-family: abel;
    src: url(../fonts/Abel/abel.ttf);
}


$latoBlack: latoBlack;
$latoBold: latoBold;
$latoRegular: latoRegular;
$latoLight: latoLight;
$latoItalic: latoItalic;
$abel: abel;

$mainColor: #15625e;
$background: #ffffff;

*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    // font-family: $latoRegular;
    font-family: $abel;
    background: $background;
    color: black;
}
hr{
    background: $mainColor;
    height: 10px;
    border: none;
    border-radius: 2px;
    margin: 10px 0;
}
.content{
    padding: 0 20px;
    max-width: 1024px;
    margin: 30px auto;
    .logo{
        width: 200px;
        margin: auto;
        margin-bottom: 20px;
        img{
            width: 200px;
        }
    }
    .about{
        text-align: justify;
        line-height: 30px;
        margin-bottom: 50px;
        .spanned{
            // font-family: $latoBold;
            font-family: $abel;
            color: $mainColor;
            a{
                text-decoration: none;
                color: $mainColor;
            }
        }
        .name{
            font-weight: 900;
            font-size: 2.5em;
            font-weight: $latoBlack;
            text-align: center;
            margin-bottom: 10px;
        }
        .tech{
            font-size: 1.5em;
            font-weight: 600;
            margin-bottom: 10px;
            text-align: center;
        }
        .links{
            margin-bottom: 20px;
            font-size: 1.2em;
            text-align: center;
            i{
                color: $mainColor;
                margin-left:10px;
            }
            i:nth-child(1){
                margin-left: 0;
            }
            span{
                margin-right:10px;
            }
        }
        .summary{
            font-size: 1.3em;
        }
    }
    .skills{
        margin-bottom: 50px;
        .skills_header{
            font-weight: 900;
            font-size: 2em;
            color: $mainColor;
            font-weight: $latoBlack;
            margin-bottom: 20px;
            text-align: center;
        }
        .skills_container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 30px;

            .skill{
                min-width: 200px;
                max-width: 200px;
                height: 200px;
                box-shadow:0 0 10px 1px $mainColor;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .svg{
                    img{
                        width: 100px;
                    }
                }
                p{
                    color: $mainColor;
                    // font-family: $latoBlack;
                    font-family: $abel;
                    font-size: 1.3em;
                }
            }
        }
        
    }

    .projects{
        .projects_title{
            font-weight: 900;
            font-size: 2em;
            color: $mainColor;
            font-weight: $latoBlack;
            margin-bottom: 20px;
            text-align: center;
        }
        .project{
            background: $mainColor;
            padding: 10px;border-radius: 10px;
            margin-bottom: 10px;
            text-align: center;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    .components{
        margin-top: 30px;
        .component_title{
            font-weight: 900;
            font-size: 2em;
            color: $mainColor;
            font-weight: $latoBlack;
            margin-bottom: 20px;
            text-align: center;
        }
        span{
            background: white;
            box-shadow: 0 0 5px 2px $mainColor;
            padding: 10px 20px;
            border-radius: 20px;
            margin-right: 10px;
        }
    }
}

@media screen and (max-width:600px) {
    hr{
        margin: 5px 0;
    }
    .content{
        padding: 0 10px;
        .about{
            .name{
                font-size: 1.2em;
                font-weight: 900;
            }
            .tech{
                font-size: 1em;
                color: red;
            }
            .links{
                font-size: 0.7em;
            }
            .summary{
                font-size: 1em;
            }
        }
        .skills{
            .skills_header{
                font-size: 1.2em;
            }
            .skills_container{
                .skill{
                    min-width: 150px;
                    max-height: 150px;
                    .svg{
                        img{
                            width: 50px;
                        }
                    }
                }
            }
        }
        .projects{
            .projects_title{
                font-size: 1.2em;
            }
        }
    }
}

@media screen and (max-width:350px) {
    .content{
        .skills{
            .skills_container{
                .skill{
                    min-width: 100%;
                    .svg{
                        img{
                            width: 100px;
                        }
                    }
                }
            }
        }
    }
}