@font-face {
  font-family: outfitLight;
  src: url(../fonts/Outfit-Light.ttf);
}
@font-face {
  font-family: outfitMedium;
  src: url(../fonts/Outfit-Medium.ttf);
}
@font-face {
  font-family: outfitBold;
  src: url(../fonts/Outfit-Bold.ttf);
}
@font-face {
  font-family: nexaHeavy;
  src: url(../assets/fonts/NexaHeavy.ttf);
}
@font-face {
  font-family: nexaLight;
  src: url(../assets/fonts/NexaLight.ttf);
}
*, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfitLight;
  scroll-behavior: smooth;
}

body {
  background: white;
  width: 100vw;
  transition: all 0.5s ease;
}

.starter {
  color: black;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.starter h1 {
  font-family: outfitBold;
  font-size: 2em;
  line-height: 50px;
}
.starter .bio {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.starter .bio::before {
  position: absolute;
  content: "";
  padding: 2px;
  width: 50px;
  left: -60px;
  background: black;
}
.starter .bio::after {
  position: absolute;
  content: "";
  padding: 2px;
  width: 50px;
  right: -60px;
  background: black;
}
.starter .knowledge-areas {
  margin: 10px 0;
}
.starter .knowledge-areas span {
  padding: 10px;
  background: linear-gradient(180deg, #000428, #004e92);
  border-radius: 5px;
  color: white;
}
.starter a {
  margin: 10px 0;
  color: white;
  text-decoration: none;
}
.starter a .fabrino_tech {
  background: #000428;
  padding: 16px 32px;
  border-radius: 10px;
}

.fabrino_tech_header {
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px dotted #000428;
  position: sticky;
  top: 0;
  z-index: 10;
}
.fabrino_tech_header .logo {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.fabrino_tech_header .logo img {
  width: 50px;
}
.fabrino_tech_header .logo p {
  margin-left: 10px;
  font-size: 1em;
  letter-spacing: 0.1px;
  font-weight: 900;
}
.fabrino_tech_header .menu {
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.fabrino_tech_header .menu i {
  display: block;
  height: 10px;
  background: linear-gradient(45deg, #000428, #004e92);
  border-radius: 4px;
}
.fabrino_tech_header .navigation {
  margin-right: 10px;
}
.fabrino_tech_header .navigation a {
  text-decoration: none;
  padding: 10px;
  color: black;
}
.fabrino_tech_header .navigation a.active {
  text-decoration: underline;
}

.down_navigation {
  display: none;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 11;
  flex-direction: column;
  border-bottom: 2px dotted #000428;
  padding: 10px 0;
  transition: all 0.5s ease;
}
.down_navigation a {
  text-decoration: none;
  border-radius: 5px;
  background: #000428;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.container {
  height: 200px;
  margin: 10px 30px;
  background: linear-gradient(180deg, #004e92, #000428);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: nexaHeavy;
}
.container .head {
  font-size: 4em;
  line-height: 50px;
}
.container .bio {
  font-size: 2em;
  font-family: nexaLight;
  font-weight: 800;
}

.below_clipped {
  height: 20px;
  margin: -7px 30px;
  background: linear-gradient(45deg, #004e92, #000428);
  border-radius: 5px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 52% 20%, 50% 100%, 48% 20%, 0% 20%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 52% 20%, 50% 100%, 48% 20%, 0% 20%);
}

.logo_picture {
  margin: 20px auto;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services {
  margin-top: 50px;
}
.services .heading {
  color: #0f1124;
  font-family: nexaHeavy;
  text-align: center;
  font-size: 4em;
  line-height: 60px;
}
.services .heading:after {
  content: "";
  display: block;
  width: 100px;
  height: 10px;
  margin: auto;
  background: #000428;
  border-radius: 10px;
}
.services .heading:hover .heading::after {
  width: 200px;
}
.services .all_services {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0 30px;
}
.services .all_services .service {
  min-width: 300px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  background: pink;
  border-radius: 10px;
  background: linear-gradient(#004e92, #000428);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.services .all_services .service h5 {
  text-align: center;
  font-family: nexaHeavy;
  color: white;
  font-size: 1em;
}
.services .all_services .service:hover {
  border: 2px solid black;
}

.contacts {
  margin-top: 50px;
}
.contacts .heading {
  color: #0f1124;
  font-family: nexaHeavy;
  text-align: center;
  font-size: 4em;
  line-height: 60px;
}
.contacts .heading:after {
  content: "";
  display: block;
  width: 100px;
  height: 10px;
  margin: auto;
  background: #000428;
  border-radius: 10px;
}
.contacts .heading:hover .heading::after {
  width: 200px;
}
.contacts .all_contact {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.contacts .all_contact .contact_container {
  width: 500px;
  min-height: 50px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #004e92, #000428);
  border-radius: 5px;
  margin-bottom: 10px;
}
.contacts .all_contact .contact_container img {
  width: 40px;
}
.contacts .all_contact .contact_container .details {
  font-size: 1.3em;
  color: white;
}

.footer {
  margin-top: 10px;
  min-height: 50px;
  padding: 10px;
  border-top: 2px dotted #000428;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .starter .knowledge-areas span {
    padding: 8px;
    font-size: 0.8em;
  }
  .services {
    margin-top: 10px;
  }
  .services .all_services {
    flex-direction: column;
    padding: 0 10px;
  }
  .services .all_services .service {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .fabrino_tech_header .menu {
    display: flex;
  }
  .fabrino_tech_header .navigation {
    display: none;
  }
  .starter h1 {
    font-size: 1.7em;
  }
  .starter .bio {
    font-size: 1em;
  }
  .starter .knowledge-areas {
    margin-top: -10px;
  }
  .starter .knowledge-areas span {
    font-size: 0.45em;
    padding: 5px;
  }
}
@media screen and (max-width: 520px) {
  .container {
    margin: 10px;
    height: 100px;
  }
  .container .head {
    font-size: 2.5em;
  }
  .container .bio {
    font-size: 1em;
  }
  .logo_picture {
    width: 150px;
  }
  .services .heading {
    font-size: 1.5em;
  }
  .contacts .heading {
    font-size: 1.5em;
  }
  .contacts .all_contact .contact_container {
    min-width: 95%;
    max-width: 95%;
  }
  .contacts .all_contact .contact_container img {
    width: 30px;
  }
  .contacts .all_contact .contact_container .details {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 320px) {
  .starter h1 {
    font-size: 1em;
  }
  .starter .bio {
    font-size: 0.6em;
  }
  .starter .knowledge-areas {
    margin-top: -10px;
  }
  .starter .knowledge-areas span {
    padding: 5px;
    font-size: 0.3em;
  }
}
@keyframes scroll_down {
  0% {
    height: 0px;
  }
  100% {
    height: -moz-max-content;
    height: max-content;
  }
}/*# sourceMappingURL=style.css.map */