@font-face {
    font-family: outfitLight;
    src: url(../fonts/Outfit-Light.ttf);
}
@font-face {
    font-family: outfitMedium;
    src: url(../fonts/Outfit-Medium.ttf);
}
@font-face {
    font-family: outfitBold;
    src: url(../fonts/Outfit-Bold.ttf);
}
//############ Fonts
$outfitLight:outfitLight;
$outfitMedium:outfitMedium;
$outfitBold:outfitBold;
//############

*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $outfitLight;
}
body{
    background:white;
    width: 100vw;
    transition: all 0.5s ease;
}
.starter{
    // background:black;
    color: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    h1{
        font-family: $outfitBold;
        font-size: 2em;
        line-height: 50px;
    }
    .bio{
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .bio::before{
        position: absolute;
        content: "";
        padding: 2px;
        width: 50px;
        left: -60px;
        background: black;
    }
    .bio::after{
        position: absolute;
        content: "";
        padding: 2px;
        width: 50px;
        right: -60px;
        background: black;
    }
    .knowledge-areas{
        margin: 10px 0;
        span{
            padding: 10px;
            // background: rgb(19, 19, 19);
            background: linear-gradient(180deg,#000428,#004e92);
            border-radius: 5px;
            color: white;
        }
    }
    a{
        margin: 10px 0;
        color: white;
        text-decoration: none;
        .fabrino_tech{
            background: #000428;
            padding: 16px 32px;
            border-radius: 10px;
        }
    }
}

// Animation

//########################################
//############# -RESPONSIVE- #############
//########################################

@media screen and (max-width:1024px) {
    // .starter{
        
    // }
}
@media screen and (max-width:768px) {
    .starter{
        .knowledge-areas{
            span{
                padding: 8px;
                font-size: 0.8em;
            }
        }
    }
}
@media screen and (max-width:576px) {
    .starter{
        h1{
            font-size: 1.7em;
        }
        .bio{
            font-size: 1em;
        }
        .knowledge-areas{
            margin-top: -10px;
            span{
                font-size: 0.45em;
                padding: 5px;
            }
        }
    }
}
@media screen and (max-width:320px) {
    .starter{
        h1{
            font-size: 1em;
        }
        .bio{
            font-size: 0.6em;
        }
        .knowledge-areas{
            margin-top: -10px;
            span{
                padding: 5px;
                font-size: 0.3em;
            }
        }
    }
}
