@font-face {
  font-family: tech;
  src: url(./techBold.ttf);
}
@font-face {
  font-family: comfortaa;
  src: url(./fonts/comfortaa/comfortaa.ttf);
}
*, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: white;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: right;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  height: 70px;
  margin: auto;
  transition: 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .nav ul {
  position: relative;
  top: 0;
}
header .nav ul a {
  color: #333;
  font-size: 1.2em;
}
header .nav ul a li {
  width: 100px;
  display: inline-block;
  text-align: center;
  font-family: comfortaa;
  font-weight: 800;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
header .nav ul a li .sub1 {
  display: none;
  position: absolute;
  top: 50px;
  background: white;
  box-shadow: 0 0 2px 2px rgb(237, 237, 237);
  animation: slideUp 2s 0.1s ease;
}
header .nav ul a li .sub1 li {
  width: 200px;
  margin: 2px 0;
  padding: 10px 0;
  display: block;
  font-size: 0.7em;
}
header .nav ul a li.active {
  color: grey;
}
header .nav ul a li:hover .sub1 {
  display: block;
}
header .nav ul a li:hover {
  color: grey;
}
header .timeDiv {
  width: 100px;
  margin-right: 20px;
  padding: 10px 0;
  background: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 2px 3px rgb(237, 237, 237);
}
header .timeDiv p#time {
  color: #333;
  font-weight: 900;
  font-size: 0.7em;
  font-family: tech;
  letter-spacing: 2px;
}
header .timeDiv p#message {
  font-size: 0.5em;
  color: #333;
  font-family: comfortaa;
}
header .nav-replace {
  position: fixed;
  transition: 0.5s ease-in;
  top: 0;
  right: -100%;
  z-index: 3;
  width: 100%;
  height: 100vh;
  background: black;
}
header .nav-replace ul a {
  text-decoration: none;
  position: absolute;
}
header .nav-replace ul a li {
  list-style: none;
  background: rgb(37, 37, 37);
  text-align: center;
  padding: 20px 0;
  margin: 10px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}
header .nav-replace ul a li .sub1 {
  color: red;
}
header .nav-replace ul a .close-menu {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  background: rgb(0, 0, 0);
}
header .menu {
  display: none;
}
header .menu i {
  font-size: 4em;
  color: rgb(0, 0, 0);
  margin-right: 10px;
  cursor: pointer;
}

.home {
  font-family: Arial, Helvetica, sans-serif;
}
.home .spacer {
  background-color: #333;
  height: 10px;
}
.home h1 {
  text-align: center;
}

.store {
  margin: 10px;
  border-radius: 5px;
}
.store .title {
  text-align: center;
  padding: 5px 0;
  font-size: 1.2em;
  font-weight: 900;
}
.store .docker-commands {
  margin-bottom: 30px;
}
.store .docker-commands .comand-desc {
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 20px;
  background: black;
}
.store .docker-commands .comand-desc .command {
  border-left: 10px solid rgb(0, 0, 0);
  border-radius: 2px;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  color: white;
}
.store .docker-commands .comand-desc .desc {
  color: white;
  padding: 10px;
}

@keyframes slideUp {
  0% {
    top: 100px;
  }
  100% {
    top: 50px;
  }
}
@media screen and (max-width: 720px) {
  header .nav {
    display: none;
  }
  header .menu {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */