@font-face {
    font-family: tech;
    src: url(./techBold.ttf);
}

@font-face {
    font-family: comfortaa;
    src: url(./fonts/comfortaa/comfortaa.ttf);
}

@font-face {
    font-family: anja-accent;
    src: url(./fonts/anja_eliane/anja-accent.ttf);
}

@font-face {
    font-family: anja;
    src: url(./fonts/anja_eliane/anja.ttf);
}

@font-face {
    font-family: sunshine;
    src: url(./fonts/sunshine_10/Sunshine.otf);
}

$font: tech;
$comfortaa: comfortaa;
$anja: anja;
$anja-acent: anja-accent;
$sunshine: sunshine;

*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    color: white;
}
.myHeader {
    display: flex;
    align-items: center;
    justify-content: right;
    // background: rgb(255, 255, 255);
    background: #0b1015;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    height: 70px;
    margin: auto;
    transition: all 0.2s ease-in-out;
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 1;
    .nav2 {
        ul {
            a {
                color: #969696;
                font-size: 1.2em;

                li {
                    width: 100px;
                    display: inline-block;
                    text-align: center;
                    font-family: $comfortaa;
                    font-weight: 800;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;
                }

                li.active {
                    color: white;
                }

                li:hover {
                    color: white;
                }
            }
        }
    }

    .timeDiv {
        color: white;
        width: 100px;
        margin-right: 20px;
        padding: 10px 0;
        background: #0b1015;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0 0 2px 3px #121921;

        p#time {
            font-weight: 900;
            font-size: 0.7em;
            font-family: $font;
            letter-spacing: 2px;
        }

        p#message {
            font-size: 0.5em;
            font-family: $comfortaa;
        }
    }

    .menu {
        display: none;

        i {
            font-size: 4em;
            color: rgb(0, 0, 0);
            margin-right: 10px;
            cursor: pointer;
        }
    }
}

.home {
    font-family: Arial, Helvetica, sans-serif;

    .clipped {
        padding: 100px 0 20px 0;
        width: 100%;
        min-height: 200px;
        // clip-path: polygon(0% 0%,100% 30%,100% 100%,0% 70%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
            font-size: 2em;
            font-family: $anja-acent;
            color: white;
            text-transform: uppercase;
            letter-spacing: 5px;
            min-height: 100px;
            position: sticky;
            top: 70px;

            background: black;
            text-align: center;
            padding: 20px 0;
            width: 100%;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            position: sticky;
            top: 130px;

            .tag {
                font-size: 0.9em;
                color: white;
                margin: 0 5px;
                padding: 5px 10px;
                border-radius: 5px;
                background: #333;
                // background: #727272;
                font-family: $anja;
            }
        }

        .description {
            color: rgb(9, 70, 9);
            margin: auto;
            font-family: $sunshine;
            text-align: center;
            padding: 10px;
            border-radius: 10px;
            font-size: 2em;
        }

        .introduction {
            padding: 30px;
            text-align: justify;
            font-size: 1em;
        }
    }
    .skills{
        // background: #120722;
        margin: 0 30px 20px;
        padding: 20px;
        
        transition: all 2s ease;
        transform: translateY(150px);
        opacity: 0;
        h3{
            text-align: center;
            font-weight: 800;
            padding: 20px 0;
            font-size: 3em;
        }
        ul{
            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-height: 50px;
                background: black;
                margin-bottom: 20px;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 0 5px 0px rgb(50, 50, 50);

                input{
                    width: 100px;
                }
            }
        }
    }
    .skills.active{
        transform: translateY(0px);
        opacity: 1;
    }
}

.store {
    margin: 10px;
    border-radius: 5px;

    .title {
        text-align: center;
        padding: 5px 0;
        font-size: 1.2em;
        font-weight: 900;
    }

    .docker-commands {
        margin-bottom: 30px;

        .comand-desc {
            overflow: hidden;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            margin-bottom: 20px;
            background: black;

            .command {
                // height: 30px;
                border-left: 10px solid rgb(0, 0, 0);
                border-radius: 2px;
                background: #333;
                display: flex;
                align-items: center;
                justify-content: start;
                padding: 10px;
                color: white;
            }

            .desc {
                color: white;
                padding: 10px;
            }
        }
    }
}

//##### RESPONSIVE DESIGN ##### 
@media screen and (max-width:1024px) {}

@media screen and (max-width:720px) {
    header {
        .nav {
            display: none;
        }

        .menu {
            display: block;
        }
    }
}

.loader {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    background: white;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;

    .load {
        width: 50px;
        height: 50px;
        border: 5px solid rgb(200, 200, 200);
        border-radius: 50%;
        // border-top: 5px solid white ;
        transform: 0.1s ease-in-out;
        border-inline-color: #333;
        animation: load 1s 0.01s linear infinite;
    }
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}